@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

.error404-page {
    padding-top: $header-height-mobile;
    @include tablet-up {
        padding-top: $header-height-tablet;
    }
    @include desktop-up {
        padding-top: $header-height-desktop;
    }
    .error404-content {
        padding-top: spx(10);
        @include tablet-up {
            padding-top: 0;
        }
        .header__logo {
            width: spx(199);
            height: auto;
            margin-left: spx(32);
            @include tablet-up {
                display: none;
            }
            .logo-link {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                }

                .company-name {
                    color: #000;
                    font-size: spx(16.486);
                    font-weight: 600;
                    line-height: 110%;
                }
            }
        }
        .error404-container {
            width: 100%;
            height: calc(100svh - spx(130) - spx(173) - spx(10));
            display: grid;
            place-items: center;
            @include tablet-up {
                height: calc(100svh - #{$header-height-tablet});
            }
            @include desktop-up {
                height: calc(100svh - #{$header-height-desktop});
            }

            .error404-text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: spx(30);
                text-align: center;
                @include tablet-up {
                    gap: tpx(45);
                }
                @include desktop-up {
                    gap: ppx(45);
                }

                .error404-title {
                    font-family: $font-noto-serif-jp;
                    color: $base_color_2;
                    font-size: spx(68);
                    font-weight: 700;
                    line-height: spx(111);

                    @include tablet-up {
                        font-size: tpx(95);
                        line-height: tpx(145);
                    }

                    @include desktop-up {
                        font-size: ppx(95);
                        line-height: ppx(145);
                    }
                }
                .error404-text {
                    color: $base_color_1;
                    font-size: spx(29);
                    font-weight: 500;
                    line-height: 180%;

                    @include tablet-up {
                        font-size: tpx(35);
                        line-height: tpx(70);
                    }

                    @include desktop-up {
                        font-size: ppx(35);
                        line-height: 200%;
                    }
                    .error404-text-span {
                        color: $base_color_1;
                        font-size: spx(25);
                        font-weight: 500;
                        line-height: 180%;
                        @include tablet-up {
                            font-size: tpx(35);
                            line-height: tpx(70);
                        }

                        @include desktop-up {
                            font-size: ppx(35);
                            line-height: 200%;
                        }
                    }
                }
            }
        }
    }
}
