@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

.breadcrumb {
    background-color: $base_color_2;
    padding: spx(35) spx(60);
    margin: -1px 0 0;
    color: $base_color_white;
    @include tablet-up {
        padding: ppx(45 * $pc-to-tab-ratio) ppx(220 * $pc-to-tab-ratio);
    }
    @include desktop-up {
        padding: ppx(45) ppx(220);
    }
    .breadcrumb__inner {
        .breadcrumb__list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            color: #fff;
            font-size: spx(22);
            font-weight: 500;
            line-height: 160%;
            letter-spacing: spx(2.2);

            @include tablet-up {
                font-size: ppx(24 * $pc-to-tab-ratio);
                letter-spacing: ppx(2.4 * $pc-to-tab-ratio);
            }

            @include desktop-up {
                font-size: ppx(24);
                letter-spacing: ppx(2.4);
            }
            .breadcrumb__item {
                .breadcrumb__link {
                    @include hover {
                        &:hover {
                        }
                    }

                    &:focus-visible {
                    }
                }

                &[aria-current="page"] {
                }
            }

            .breadcrumb__separator {
            }
        }
    }
}

.page-bottom-bar {
    background-color: $base_color_2;
    position: relative;
    height: spx(178);
    border-top: 1px solid $base_color_white;
    @include tablet-up {
        height: ppx(160 * $pc-to-tab-ratio);
    }
    @include desktop-up {
        height: ppx(160);
    }
    .page-bottom-bar__inner {
        height: 100%;
        .page-bottom-bar__brand {
            height: 100%;
            .page-bottom-bar__brand-link {
                display: flex;
                align-items: center;
                gap: spx(42);
                width: max-content;
                height: 100%;
                margin-inline: auto;
                @include tablet-up {
                    gap: ppx(42 * $pc-to-tab-ratio);
                }
                @include desktop-up {
                    gap: ppx(42);
                }
                .page-bottom-bar__brand-text {
                    color: $base_color_white;
                    font-size: spx(38);
                    font-weight: 700;
                    line-height: 115%;
                    letter-spacing: spx(1.9);

                    @include tablet-up {
                        font-size: ppx(38 * $pc-to-tab-ratio);
                        letter-spacing: ppx(1.9 * $pc-to-tab-ratio);
                    }

                    @include desktop-up {
                        font-size: ppx(38);
                        letter-spacing: ppx(1.9);
                    }
                }

                .page-bottom-bar__brand-icon {
                    width: spx(31);
                    height: auto;
                    @include tablet-up {
                        width: ppx(31 * $pc-to-tab-ratio);
                    }
                    @include desktop-up {
                        width: ppx(31);
                    }
                    path {
                        transition: stroke 0.3s ease;
                    }
                }

                @include hover {
                    &:hover {
                        .page-bottom-bar__brand-icon {
                            path {
                            }
                        }
                    }
                }

                &:focus-visible {
                }
            }
        }

        .page-bottom-bar__actions {
            &.only-tablet-up {
                display: none;
                @include tablet-up {
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: ppx(253 * $pc-to-tab-ratio);
                }
                @include desktop-up {
                    right: ppx(253);
                }
                .page-bottom-bar__top-link {
                    @include tablet-up {
                        background-color: $base_color_white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: ppx(13 * $pc-to-tab-ratio);
                        width: ppx(106 * $pc-to-tab-ratio);
                        height: ppx(106 * $pc-to-tab-ratio);
                        border-radius: 50%;
                        padding-top: ppx(15 * $pc-to-tab-ratio);
                    }
                    @include desktop-up {
                        width: ppx(106);
                        height: ppx(106);
                    }
                    .page-bottom-bar__top-icon {
                        @include tablet-up {
                            width: ppx(16 * $pc-to-tab-ratio);
                            height: auto;
                        }
                        @include desktop-up {
                            width: ppx(16);
                        }

                        path {
                        }
                    }

                    .page-bottom-bar__top-text {
                        color: $base_color_2;
                        font-size: spx(29.37);
                        font-weight: 700;
                        line-height: 100%;

                        @include tablet-up {
                            font-size: ppx(29.37 * $pc-to-tab-ratio);
                        }

                        @include desktop-up {
                            font-size: ppx(29.37);
                        }
                    }

                    @include hover {
                        &:hover {
                            .page-bottom-bar__top-icon {
                                path {
                                }
                            }
                        }
                    }

                    &:focus-visible {
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $base_color_white;
    padding-top: spx(88);
    padding-bottom: spx(160);
    @include tablet-up {
        padding-top: ppx(70 * $pc-to-tab-ratio);
        padding-bottom: ppx(52 * $pc-to-tab-ratio);
    }
    @include desktop-up {
        padding-top: ppx(70);
        padding-bottom: ppx(52);
    }
    .footer__inner {
        @include tablet-up {
            display: flex;
        }
        @include desktop-up {
        }
        .footer__brand {
            @include tablet-up {
                margin-left: 5vw;
            }
            @include desktop-up {
                margin-left: ppx(237);
            }

            .footer__brand-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: max-content;
                margin-inline: auto;
                @include tablet-up {
                    margin-inline: unset;
                }
                .footer__brand-logo {
                    width: spx(278);
                    height: auto;
                    @include tablet-up {
                        width: ppx(278 * $pc-to-tab-ratio);
                    }
                    @include desktop-up {
                        width: ppx(278);
                    }
                }

                .footer__brand-name {
                    color: $base_color_1;
                    font-size: spx(23);
                    font-weight: 600;
                    line-height: 110%;

                    @include tablet-up {
                        font-size: ppx(23 * $pc-to-tab-ratio);
                    }

                    @include desktop-up {
                        font-size: ppx(23);
                    }
                }

                @include hover {
                    &:hover {
                        .footer__brand-logo {
                        }

                        .footer__brand-name {
                        }
                    }
                }

                &:focus-visible {
                }
            }
        }

        .footer__contact {
            margin-top: spx(56);
            @include tablet-up {
                margin-top: ppx(79 * $pc-to-tab-ratio);
                margin-left: ppx(110 * $pc-to-tab-ratio);
                margin-right: ppx(242 * $pc-to-tab-ratio);
            }
            @include desktop-up {
                margin-top: ppx(79);
                margin-left: ppx(110);
                margin-right: ppx(242);
            }
            .footer__address {
                color: $base_color_1;
                font-size: spx(28);
                font-weight: 500;
                line-height: 160%;
                letter-spacing: spx(1.4);
                text-align: center;

                @include tablet-up {
                    font-size: ppx(28 * $pc-to-tab-ratio);
                    letter-spacing: ppx(1.4 * $pc-to-tab-ratio);
                    text-align: left;
                    margin-top: 0;
                }

                @include desktop-up {
                    font-size: ppx(28);
                    letter-spacing: ppx(1.4);
                }
            }

            .footer__phone-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: spx(12);

                @include tablet-up {
                    gap: 2em * $pc-to-tab-ratio;
                    flex-direction: row;
                    width: max-content;
                    margin-top: ppx(7 * $pc-to-tab-ratio);
                    margin-left: ppx(3 * $pc-to-tab-ratio);
                }
                @include desktop-up {
                    gap: 2em;
                    margin-top: ppx(7);
                    margin-left: ppx(3);
                }
                .footer__phone-item {
                    color: $base_color_1;
                    font-size: spx(37);
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: spx(2.59);

                    @include tablet-up {
                        font-size: ppx(37 * $pc-to-tab-ratio);
                        letter-spacing: ppx(2.59 * $pc-to-tab-ratio);
                    }

                    @include desktop-up {
                        font-size: ppx(37);
                        letter-spacing: ppx(2.59);
                    }
                    .footer__phone-label {
                        color: $base_color_2;
                    }

                    .footer__phone-number {
                        @include hover {
                            &:hover {
                            }
                        }

                        &:focus-visible {
                        }
                    }
                }
            }
        }

        .footer__certification {
            margin-top: spx(19);
            @include tablet-up {
                margin-top: ppx(26 * $pc-to-tab-ratio);
            }
            @include desktop-up {
                margin-top: ppx(26);
            }
            .footer__certification-link {
                display: block;
                width: spx(528);
                height: auto;
                margin-inline: auto;
                @include tablet-up {
                    width: ppx(644 * $pc-to-tab-ratio);
                    margin-inline: unset;
                }
                @include desktop-up {
                    width: ppx(644);
                }
                .footer__certification-logo {
                    width: 100%;
                    height: auto;
                }

                @include hover {
                    &:hover {
                        .footer__certification-logo {
                        }
                    }
                }

                &:focus-visible {
                }
            }
        }
    }
    .footer__copyright-wrapper {
        border-top: 1px solid $base_color_2;
        margin-top: spx(34);
        padding-top: spx(32);
        @include tablet-up {
            margin-top: ppx(102 * $pc-to-tab-ratio);
            padding-top: ppx(46 * $pc-to-tab-ratio);
        }
        @include desktop-up {
            margin-top: ppx(102);
            padding-top: ppx(46);
        }
        .footer__copyright {
            color: $base_color_2;
            font-size: spx(23);
            font-weight: 500;
            line-height: 140%;
            letter-spacing: spx(1.15);
            text-align: center;

            @include tablet-up {
                font-size: ppx(23 * $pc-to-tab-ratio);
                letter-spacing: ppx(1.15 * $pc-to-tab-ratio);
                text-align: right;
                margin-right: ppx(220 * $pc-to-tab-ratio);
            }

            @include desktop-up {
                font-size: ppx(23);
                line-height: normal;
                letter-spacing: ppx(1.15);
                margin-right: ppx(220);
            }
            .only-sp {
                display: block;
                @include tablet-up {
                    display: none;
                }
            }
        }
    }
}
